.profile {
  display: grid;
  height: 100vh;
  /* width: 100vh; */
  background-color: aquamarine;
  grid-template-columns: repeat(4, 1fr);

  grid-template-areas:
    /* "tieude tieude tieude tieude" */
    "anhdaidien dinhhuong dinhhuong dinhhuong"
    "quatrinhlamviec quatrinhlamviec quatrinhlamviec quatrinhlamviec"
    "thongtincanhan thongtincanhan hocvan hocvan"
    "mota mota mota mota";
  column-gap: 5px;
  row-gap: 5px;
}

.profile-anhdaidien {
  grid-area: anhdaidien;
}

.profile-dinhhuong {
  grid-area: dinhhuong;
}

.profile-quatrinhlamviec {
  grid-area: quatrinhlamviec;
}

.profile-mota {
  grid-area: mota;
}

.profile-thongtincanhan {
  grid-area: thongtincanhan;
  background-color: blue;
}

.profile-hocvan {
  grid-area: hocvan;
}

.profile-item {
  background-color: var(--primary-color);
}

/* region profile-dinhhuong */
.profile-dinhhuong-item {
  border: 2px solid;
  border-radius: 10px;
  width: auto;
  height: 70px;
  margin: 5px;
  display: flex;
  /* display: inline; */
}
.profile-dinhhuong-item span {
  font-weight: bold;
  color: brown;
  margin: auto 5px auto 5px;
  background-color: blue;
}
.profile-dinhhuong-item i {
  /* transform: scale(300%); */
  padding: 5px;
  /* margin: auto; */
  margin: auto 5px auto 5px;
  /* width: 50px; */
  /* height: 50px; */
  background-color: var(--primary-color);
  /* background-color: green; */
  border: 2px solid;
  border-radius: 50%;
  border-color: black;
  color: green;
}
/* endregion profile-dinhhuong */

/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px) {
}
/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px) {
  .profile {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
    /* "tieude tieude tieude tieude" */
      "anhdaidien"
      "dinhhuong"
      "quatrinhlamviec"
      "thongtincanhan"
      "hocvan"
      "mota";
  }
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px) {
}
/*Iphone(480 x 640)*/
@media screen and (max-width: 320px) {
}
/*Smart phone nhỏ*/
@media screen and (max-width: 240px) {
}
